doctype html
html
	head
		title Welcome to FSE Chat Room
		link(rel='stylesheet', href='stylesheet2.css',type='text/css')
		script(src="https://cdn.socket.io/socket.io-1.2.0.js")
		script(src="http://code.jquery.com/jquery-1.11.1.js")
		script(src="index.js")
		script(src="client.js")
	body
		h1 Welcome, #{username}
		br
		ul#messagelist
			for message in messages
				li= message
		span#typing
		form(id="form", action="", onsubmit="return submitfn();")
			input(id="username", type="hidden", value= username )
			input(id="message", autocomplete="off", onkeyup="notifyTyping();", placeholder="Type your message here..")
			input(id= "button", type="button", value="Post", onclick="return submitfn();")
			input(id= "button", type="button", value="Disconnect", onclick="return disconnectfn();")